# Timezone of your instance
TZ=Europe/Warsaw

# Domain for traefik dashboard
TRAEFIK_MAIN_DOMAIN=localhost

# Traefik network configuration (docker side)
TRAEFIK_PROXY_NETWORK_SUBNET=172.60.0.0/16
TRAEFIK_PROXY_NETWORK_NAME=traefik-proxy

# ACME
# https://doc.traefik.io/traefik/https/acme/
TRAEFIK_LE_TLS_CHALLENGE=false
TRAEFIK_LE_MAIL=myemail@example.com

# Run full example
FULL_EXAMPLE=true